<div class="tab-pane" id="paper">
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h5 class="title">Cadastrar papel</h5>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Nome</label>
                          <input type="text" class="form-control" placeholder="Digite o nome do papel">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Status</label>
                          <select type="text" class="form-control">
                            <option value="">Selecione o status de atividade</option>
                            <option value="">Ativo</option>
                            <option value="">Inativo</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                            <label>Funcionalidade</label>
                            <select type="text" class="form-control">
                              <option value="">Selecione a funcionalidade</option>
                              <option value="">Administrativo / Empresa</option>
                              <option value="">Administrativo / Papel</option>
                            </select>
                          </div>
                        </div>
                      <div class="col-md-6">
                          <div class="form-group">
                            <label>Ações</label>
                            <select type="text" class="form-control">
                              <option value="">Selecione a ação do papel</option>
                              <option value="">Ativo</option>
                              <option value="">Inativo</option>
                            </select>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                      </div>
                      <div class="col-md-2">
                        <button class="btn btn-primary btn-block"
                          onclick="nowuiDashboard.showNotification('top','left')">Cadastrar novo</button>
                      </div>
                      <div class="col-md-2">
                        <button class="btn btn-primary btn-block"
                          onclick="nowuiDashboard.showNotification('top','left')">Limpar</button>
                      </div>
                      <div class="col-md-2">
                        <button class="btn btn-primary btn-block"
                          onclick="nowuiDashboard.showNotification('top','center')">Salvar e Criar</button>
                      </div>
                    </div>
                
                <div class="card-body">
                  <h5 style="text-align: center;" class="title">Papéis</h5>
                      <div style="margin-left: 25%;" class="col-md-6">
                        <div class="input-group no-border">
                          <input type="text" value="" class="form-control" placeholder="Pesquise por nome ou status.">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                  <div style="margin-top: 5%;" class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          <b>Nome</b>
                        </th>
                        <th>
                          <b>Status</b>
                        </th>
                        <th class="text-right">
                          <b>Ações</b>
                        </th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            Administrador
                          </td>
                          <td>Ativo
                          </td>
                          <td class="text-right">
                            <i style="color: rgb(0, 119, 255);" class="now-ui-icons ui-2_settings-90"></i>
                            <i style="margin-left: 10px; color: rgb(233, 19, 19);" class="now-ui-icons ui-1_simple-remove"
                              onclick="nowuiDashboard.showNotification('top','center')"></i>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Especialista
                          </td>
                          <td>
                            Ativo
                          </td>
                          <td class="text-right">
                            <i style="color: rgb(0, 119, 255);" class="now-ui-icons ui-2_settings-90"></i>
                            <i style="margin-left: 10px; color: rgb(233, 19, 19);" class="now-ui-icons ui-1_simple-remove"
                              onclick="nowuiDashboard.showNotification('top','center')"></i>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Usuário
                          </td>
                          <td>
                            Ativo
                          </td>
                          <td class="text-right">
                            <i style="color: rgb(0, 119, 255);" class="now-ui-icons ui-2_settings-90"></i>
                            <i style="margin-left: 10px; color: rgb(233, 19, 19);" class="now-ui-icons ui-1_simple-remove"
                              onclick="nowuiDashboard.showNotification('top','center')"></i>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Tester
                          </td>
                          <td>
                            Ativo
                          </td>
                          <td class="text-right">
                            <i style="color: rgb(0, 119, 255);" class="now-ui-icons ui-2_settings-90"></i>
                            <i style="margin-left: 10px; color: rgb(233, 19, 19);" class="now-ui-icons ui-1_simple-remove"
                              onclick="nowuiDashboard.showNotification('top','center')"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
  </div>
